/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Roboto;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */

/* Navigation section */
.top-navigation{
  /*background-color: #fff;*/
  background-color: #345676;
}
  
.top-navigation > .content {
  margin: 0 auto;
  width: 970px;
  height: 70px;
  
}

.content {
    padding: 0 15px;
    text-align: center;
    background-color: orange;
}

.top-navigation .logo {
    height: 70px;
}

 .top-navigation .links {
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #838994;
  font-size: 16px;
  margin-top: 25px;
  -webkit-font-smoothing: antialiased;
   padding: 8px;
  
}

.top-navigation .links > li {
  display: inline-block;
  text-decoration: none;
  margin-left: 25px;
}

.top-navigation .links .active{
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}

.masthead {
  background-position: 0 bottom; 
}

.introduction {
 background-image: url('http://i.imgur.com/DITusvw.jpg');
 background-position: center bottom;
 background-repeat: no-repeat;
 background-size: cover;
 height: 45.938rem;
 overflow: auto;
  background-color: purple;
}



.content {
  background-color: red;
  color: white;
  text-align: center;
  padding: 0 0.938rem;
  margin: 0 auto;
}

/* push the h1 tag down */
.introduction h1{
  margin-top: 17.5rem;
  font-size: 3.125rem;
}


.introduction h3{
 margin-top: 1.25rem;
 font-size: 1.563rem;
}

.introduction h1, .introduction h3{
  color: #FFF;
  text-align: center;
  font-weight: 300;
}

.introduction .buttons{
  color: #FFF;
  margin-top: 1.563rem;
  border-radius: 10px;

}

button{
  width: 9.688rem;
  background-color: #F15A29;
  border-color: #F15A29;
  text-shadow: none;
  border-radius: 4.5px;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  /* height: 3.45rem;*/
}

body{
  background-color: yellow;
}


